body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-image: url(../imagens/sala\ de\ aula.jpg); /* Substitua pelo caminho da sua imagem de fundo */
    background-size: cover; /* Para cobrir toda a página */
    background-repeat: no-repeat; /* Para evitar repetição */
    background-position: center; /* Para centralizar a imagem */
}


.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-image: url(../imagens/quadro.jpg); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Para cobrir todo o container, mantendo a proporção */
    background-repeat: no-repeat; /* Para evitar que a imagem se repita */
    background-position: center; /* Para centralizar a imagem */
}

.container h1 {
    /* Outros estilos do título podem estar aqui */
    color: rgb(255, 255, 255); /* Altera a cor do texto para azul */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    font-size: 2em;
}

/* Lado da frente (com "?") */
.card .front {
    background-color: #af4f4c;
    color: white;
    transform: rotateY(0deg);
    z-index: 2;
}

/* Lado de trás (com imagem) */
.card .back {
    background-color: #f9f9f9;
    color: #912b2b;
    transform: rotateY(180deg);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.card.flipped .front {
    transform: rotateY(180deg);
    z-index: 1;
}

.card.flipped .back {
    transform: rotateY(0deg);
    z-index: 2;
}

.card.matched {
    opacity: 0.7;
    pointer-events: none;
}

.back img {
    max-width: 80%;
    max-height: 80%;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #ffffff;
}